[Unit]
Description=goweb

[Service]
Type=simple
Restart=always
RestartSec=5s
ExecStart=/Users/ferminblanco/PycharmProjects/"Google Cloud"/deployment-manager

[Install]
WantedBy=multi-user.target